# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.gitignore
.idea/.gitignore
.idea/aoc_2019.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
CMakeLists.txt
cmake-build-debug/
main.cpp
